include _mixins
block header

    header#header.header
        .container
            .header-wrapper 
                a.header__logo(href="/") DEVIL INCORPORATED
                nav.header__nav 
                    ul
                        li
                            a(href="") Projects
                        li
                            a(href="") about
                        li
                            a(href="") Blog
                        li
                            a(href="") Contacts
                .header__request.btn-style.btn-style--request
                    | Оставить заявку
                    img(src="assets/images/arrow-down-right.svg", alt="")
                .header-burger
                    span
                    span 
                    span
    

                    
                            
