---
title: Index
bodyClass: index-page
---

extends includes/_page

block main
    section.hero.section.section-margin#scene
        .container 
            .hero-wrapper.section-wrapper
                .hero__left.section-left
                    .hero__text 
                        .hero__text--small I am 
                        .hero__text--big Full 
                        .hero__text--stack STACK
                        .hero__text--dev Developer
                    .hero__btn.btn-style.btn-style--important 
                        | view my projects
                        img(src="assets/images/arrow-down-right-white.svg", alt="")
                .hero__right.section-right
                       .hero__scene#scene-r


